@single-upload-color: #fc7b53;
@single-upload-border-color: #ffcaba;
@book-upload-color: #8d58bc;
@book-upload-border-color: #cbb5df;
@easy-upload-color: #4ab4e7;
@easy-upload-border-color: #abdbf2;
@excel-upload-color: #4a9b4d;
@excel-upload-border-color: #afd7b0;
@back-ground-color: #fff;
@content-color: #919191;
@content-padding: 30px 13px;
@content-box-shadow-single: inset 0 5px 0 #ffcaba;
@content-box-shadow-book: inset 0 5px 0 #cbb5df;
@content-box-shadow-easy: inset 0 5px 0 #abdbf2;
@content-box-shadow-excel: inset 0 5px 0 #afd7b0;
@border-type: 1px solid #ececec;
@content-margin: 5px;
@content-width: 20%;
@buttom-display: block;
@text-align: center;
@buttom-letter-color: #fff;
@buttom-line-height: 4;
@input-div-color: #EAECEF;


clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}
.head-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header {
  background-color: @back-ground-color;
  color: #fff;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
input {
  padding: 0 10px;
}
.input-div {
  background-color: @input-div-color;
}
.breadcrumb {
  background-color: @back-ground-color;
  color: #000;
  float: left;
}
.bread-crumb-ul{
  
}
.single-upload{
  background-color: @back-ground-color;
  color: @single-upload-color;
  float: left;
  padding: @content-padding;
  border: @border-type;
  border-top-color: @single-upload-border-color; 
  box-shadow: @content-box-shadow-single;
  margin: @content-margin;
  width: @content-width;
  text-align: @text-align;
}
.single-upload-buttom {
  display: @buttom-display;
  color: @buttom-letter-color;
  background-color: @single-upload-color;
  line-height: @buttom-line-height;
}

.book-upload {
  background-color: @back-ground-color;
  color: @book-upload-color;
  float: left;
  padding: @content-padding;
  border: @border-type;
  border-top-color: @book-upload-border-color; 
  box-shadow: @content-box-shadow-book;
  margin: @content-margin;
  width: @content-width;
  text-align: @text-align;
}
.book-upload-buttom {
  display: @buttom-display;
  color: @buttom-letter-color;
  background-color: @book-upload-color;
  line-height: @buttom-line-height;
}
.easy-upload {
  background-color: @back-ground-color;
  color: @easy-upload-color;
  float: left;
  padding: @content-padding;
  border: @border-type;
  border-top-color: @easy-upload-border-color; 
  box-shadow: @content-box-shadow-easy;
  margin: @content-margin;
  width: @content-width;
  text-align: @text-align;
}
.easy-upload-buttom {
  display: @buttom-display;
  color: @buttom-letter-color;
  background-color: @easy-upload-color;
  line-height: @buttom-line-height;
}
.excel-upload {
  background-color: @back-ground-color;
  color: @excel-upload-color;
  float: left;
  padding: @content-padding;
  border: @border-type;
  border-top-color: @easy-upload-border-color;
  box-shadow: @content-box-shadow-excel;
  margin: @content-margin;
  width: @content-width;
  text-align: @text-align;
}
.excel-upload-buttom {
  display: @buttom-display;
  color: @buttom-letter-color;
  background-color: @excel-upload-color;
  line-height: @buttom-line-height;
}

.header-li {
  color: @content-color;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  width: 71px;
  height: 40px;
}
li {
  color: @content-color;
  font-size: 13px;
  padding: 0px;
}