clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}




input {
  padding: 0 10px;
  background-color: #EAECEF
}

