.button-default {
  display: block;
  color: #fff;
  line-height: 4;
  min-width: 0;
  min-height: 3.1em;
  line-height: 3.1;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow:0 1px 0 rgba(0,0,0,.15);  
  font-family: Arial,'LiHei Pro','Microsoft JhengHei',sans-serif;
}   

.single-upload-button {
  .button-default;
  background-color: #fc7b53;
}

.book-upload-button {
  .button-default;
  background-color: #8d58bc;
}

.easy-upload-button {
  .button-default;
  background-color: #4ab4e7;
}

.excel-upload-button {
  .button-default;
  background-color: #4a9b4d;
}