.panel-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  box-sizing: border-box;
}
/* 對其置中的問題還未解決*/
.panel-title {
  font-size: 30px;
  font-family: Arial,'LiHei Pro','Microsoft JhengHei',sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}

.panel-desc {
  margin-bottom: 20px;
}

.panel-default {
  background-color: #fff;
  float: left;
  padding: 30px 25px;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin: 5px;
  width: 291.39px;
  height: 400px; 
  box-shadow: inset 0 5px 0;
  text-align: center;
}

.single-upload {
  .panel-default;
  color: #fc7b53;
  border-top-color: #ffcaba;
}

.book-upload {
  .panel-default;
  color: #8d58bc;
  border-top-color: #cbb5df;
}

.easy-upload {
  .panel-default;
  color: #4ab4e7;
  border-top-color: #abdbf2;
}

.excel-upload {
  .panel-default;
  color: #4a9b4d;
  border-top-color: #afd7b0;
}

.panel-list {
  color: #919191;
  font-size: 13px;
  padding: 5px;
  text-align: left;
  list-style-type: disc;
  line-height: 42px;
}

