@content-box-shadow-single: inset 0 5px 0 #ffcaba;
@content-box-shadow-book: inset 0 5px 0 #cbb5df;
@content-box-shadow-easy: inset 0 5px 0 #abdbf2;
@content-box-shadow-excel: inset 0 5px 0 #afd7b0;

.panel-default {
  background-color: #fff;
  float: left;
  padding: 30px 13px;
  border: 1px solid #ececec;
  margin: 5px;
  width: 20%;
  text-align: center;
}

.single-upload {
  color: #fc7b53;
}

.book-upload {
  color: #8d58bc;
}

.easy-upload {
  color: #4ab4e7;
}

.excel-upload {
  color: #4a9b4d;
}

.panel-list {
  color: #919191;
  font-size: 13px;
  padding: 0px;
  text-align: left;
}

